body{
    background-image: url("../images/00.FB_social_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .5;
}
#chessboard
{
   width :800px;
    height :800px;
    border :1px solid red;
}
.blackBox
{
    width : 100px;
    height : 100px;
    background-color: black;
    float : left;


}
.whiteBox
{
    width : 100px;
    height : 100px;
    background-color: white;
    float :left;

}